.notification{
    position: fixed;
    top:10px;
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    transition: all 1s;
    border-radius: 5px;
    background-color: #3abf94;
    padding:10px;
    color:white;
    left:-500px;
    opacity: 0;
}
.show{
    left:10px;
    opacity: 1;
}
.label{
    font-weight: bold;
    width:100px
}
.info{
    flex:1 
}