.box{
    border:1px solid;
    width: 100%;
    display: flex;
    transition: all .5s;
    margin-top:50px;
    opacity: 0;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.8);
    -webkit-box-shadow: 5px 5px 5px -6px rgba(0,0,0,0.7);
-moz-box-shadow: 5px 5px 5px -6px rgba(0,0,0,0.7);
box-shadow: 5px 5px 5px -6px rgba(0,0,0,0.7);
}

.boxAni{
    margin-top:0px;
    opacity:1
}
.roomTypeDiv{
    padding: 10px;
    flex:1;
    border-right:1px solid #ddd;
    /* color:white; */
    font-weight: bold;
}
.bedTypeDiv{
    flex:5;
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* color:white; */
}

.bedTypeItem{
    display: flex;
    padding-bottom: 10px;
    flex:1;
}

.bedLabel{
    flex:1;
    padding: 5px;
    border:1px solid #ddd;
    font-weight: bold;
   
}
.bedInfo{
    flex:4;
    border-width:1px 1px 1px 0px;
    border-style: solid;
    border-color: #ddd;
 
}
.singleInfoRow{
    width:100%;
    display:flex;
    padding:5px
}
.bedOption{
    flex:1;
    flex-direction: column;
    align-content:space-around
}
.bedPrice{
    
    width:200px;
    display: flex;
    justify-content:space-between;
}
@media only screen and (max-width: 800px) {
    .box{
        flex-direction: column;
    }
    .roomTypeDiv{
        border-right:0px solid #ddd;
    }
}
@media only screen and (max-width: 600px) {
    .bedTypeItem{
        flex-direction: column;
    }
    .bedLabel{
        background-color: antiquewhite;
    }
    .bedInfo{
        border-width:0px 0px 1px 0px;
    }
}
@media only screen and (max-width: 500px) {
    .singleInfoRow{
        flex-direction: column;
    }
}