
body, html{
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 14px;
  color: #666!important;
}
body{
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#root{
  height: 100%;
}
.app{
  min-height: 100%
}
.header{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  background-color:#254662;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  color:white;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px; 
  padding-left: 10px;
  padding-right: 10px;
}
.filterBox{
  position: sticky;
  top:40px;
  background-color: antiquewhite;
  /* height: 40px; */
  width:100%;
  margin-bottom: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 5px 5px 5px -6px rgba(0,0,0,0.7);
  -moz-box-shadow: 5px 5px 5px -6px rgba(0,0,0,0.7);
  box-shadow: 5px 5px 5px -6px rgba(0,0,0,0.7);
 
}

.filterRow{
  display:flex;
  justify-content: center;
  align-items: center;
  flex:1;
  padding: 10px;
}
@media only screen and (max-width: 600px) {
  .filterBox{
      flex-direction: column;
  }
  .filterRow{
    width:100%
  }
}
.filterLabel{
  width:80px
}
.filterSelect{
  flex:1
}
.footer{
  /* position: fixed; */
  display: flex;
  /* bottom:0px; */
  margin-top:-40px;
  width: 100%;
  background-color:#112940;
  height: 40px;
  align-items: center;
  justify-content: center;
  color:white;
}
.bold{
  font-weight: bold
}